<!doctype html>
<html lang="ca">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<title>Star Hunters</title>
	<meta charset="UTF-8" />
	<script defer src="../js/globals.js"></script>
	<script defer src="../js/admin.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../estils/player.css">
</head>
<body>
    <div class="container-fluid d-flex">
        <div id="config" class="d-flex justify-content-start m-3">
            <form style="width: 480px;">
                <div class="row">
                    <label class="text-white fw-bold col-6">Amplada (640-1280)</label>
                    <input class="col-6" id="amplada" type="number" min="640" max="1280" value="640">
                </div>
                <div class="row">
                    <label class="text-white fw-bold col-6">Alçada (480-960)</label>
                    <input class="col-6" id="alcada" type="number" min="480" max="960" value="480">
                </div>
                <div class="row">
                    <label for="n_estrelles" class="text-white fw-bold col-6">Estrelles a capturar (5-10)</label>
                    <input class="col-6" id="n_estrelles" name="n_estrelles" type="number" min="5" max="10" value="5">
                </div>
                <div class="row">
                    <button type="button" id="administrar" class="btn btn-secondary col-5 m-1">Administrar</button>
                    <button type="button" id="engegar" class="btn btn-secondary col-5 m-1">Engegar</button>
                </div>
            </form>
        </div>
        <div id="camp" class="border border-1 border-white">
            <svg id="joc" width="640" height="480" viewbox="0 0 640 480">
            </svg>
        </div>
    </div>
</body>
</html>
