<!doctype html>
<html lang="ca">
<head>
	<title>StarHunters</title>
	<meta charset="UTF-8" />
	<script defer type="module" src="../js/player.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<link rel="stylesheet" href="../estils/player.css">
</head>

<body>

	<table>
		<tr>
			<td><h3 id="nom"></h3></td>
		</tr>
		<tr>
			<td id="mostrarTurbo">El turbo està preparat</td>
			<td id="countdownTurbo"></td>
		</tr>
	</table>

	<div id="areaJoc">
		<svg id="joc" width="640" height="480" viewbox="0 0 640 480">
			<image id="nau" href="../assets/imatgesstarshunters/nau2.png" height="38" width="38" />
		</svg>
	</div>

	
</body>
</html>
