body {
    background-image: url(../assets/bg.gif);
}

#areaJoc {
    border: 1px solid white;
    margin: 0;
    padding: 0;
    width: 640px;
    height: 480px;
}

td {
    color: white;
    font-weight: bold;
}
#camp {
    border: 1px solid black;
    margin: 0;
    padding: 0;
    width: 640px;
    height: 480px;
}